{% extends "navbar.html" %}
{% block title %}
Car Parking System | Member Info
{% endblock %}

{% block content %}
<button class="btn btn-secondary mb-3" onclick="window.location.href='/view-members'"><img class="white-svg"
        src="/static/icons/arrow-left-short.svg" alt="" width="32" height="32">
    Back</button>
<p class="h1">Membership Information for</p>
<div class="row">
    <div class="col">
        <form action="/register-member" method="post">
            {% if msg: %}
            <div class="alert alert-success">{{ msg }}</div>
            {% endif %}
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tier</th>
                        <th>Start Date</th>
                        <th>Valid Until</th>
                        <th>Timeframe</th>
                        <th>Paid</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data: %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[6] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[9].days }} days</td>
                        <td>{{ row[10] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </form>
    </div>
    <div class="col">
        <p class="h4">Terminate Membership</p>
        <form action="/terminate-membership" method="post">
            <div class="mb-3">
                <label for="startDate" class="form-label">Select ID</label>
                <select name="selectMembershipId" class="form-select" id="">
                    {% for row in data: %}
                    <option value="{{ row[0] }}">{{ row[0] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <div class="col-3 d-grid">
                    <input type="submit" class="btn btn-danger"
                        onclick="return confirm('Are you sure you want to terminate membership?')" value="Terminate">
                </div>
                <div class="col-3 d-grid">
                    <input type="reset" class="btn btn-warning" value="Reset">
                </div>
            </div>

        </form>
    </div>

</div>

{% endblock %}