{% extends "navbar.html" %}
{% block title %}
Car Parking System | Member Info
{% endblock %}

{% block content %}
<button class="btn btn-secondary mb-3" onclick="window.location.href='/view-members'"><img class="white-svg"
        src="/static/icons/arrow-left-short.svg" alt="" width="32" height="32">
    Back</button>
<p class="h1">Membership Information for</p>
<div class="row">
    <div class="col">
        <form action="/register-member" method="post">
            {% if msg: %}
            <div class="alert alert-success">{{ msg }}</div>
            {% endif %}
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tier</th>
                        <th>Start Date</th>
                        <th>Valid Until</th>
                        <th>Expires</th>
                        <th>Paid</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data: %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[6] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[9].days }} days</td>
                        <td>{{ row[10] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </form>
    </div>
    <div class="col" {{ 'hidden' if status=='inactive' else '' }}>
        <p class="h4">Terminate Membership</p>
        <form action="">
            <div class="mb-3">
                <label for="startDate" class="form-label">Select ID</label>
                <select name="selectMembershipId" class="form-select" id="selectMembershipId">
                    {% for row in data: %}
                    <option value="{{ row[0] }}">{{ row[0] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <div class="col-3 d-grid">
                    <input type="button" class="btn btn-danger" onclick="confirmation()" value="Terminate">
                </div>
                <div class="col-3 d-grid">
                    <input type="reset" class="btn btn-warning" value="Reset">
                </div>
            </div>

        </form>
    </div>

</div>
<script>
    var membershipId = document.getElementById("selectMembershipId").value
    function confirmation() {
        Swal.fire({
            title: 'Are you sure?',
            text: `You want to terminate membership for the id '${membershipId}'?`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#BB2D3B',
            cancelButtonColor: '#0D6EFD',
            confirmButtonText: 'Yes, do it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.post("/terminate-membership", {
                    selectMembershipId: membershipId
                })
                Swal.fire({
                    title: 'Terminated!',
                    text: `Membership with the id '${membershipId}' has been terminated`,
                    icon: 'success',
                    confirmButtonColor: '#0D6EFD'
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.reload()
                    }
                })
            }
        })
    }

</script>

{% endblock %}