{% extends "navbar.html" %}

{% block title %}
Car Parking System | View Membership
{% endblock %}

{% block content%}
<p class="h1">All Members</p>
<div class="row mb-3">
    <div class="col">
        <table class="table" id="member_table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Reg No.</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% if member_data: %}
                {% for row in member_data: %}
                <tr>
                    <td class="align-middle">{{ row[0] }}</td>
                    <td class="align-middle"><a href="/member-info?m_id={{ row[0] }}">{{ row[1] }}</a></td>
                    <td class="align-middle {{ 'table-success' if row[2] == 'active' else 'table-danger' }}">{{ row[2]
                        }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="col">
        <p class="h4">Member Registration</p>
        <form action="/register-member" method="post">
            {% if msg: %}
            <div class="alert alert-success">{{ msg }}</div>
            {% endif %}
            <div class="mb-3">
                <label for="reg_num" class="form-label">Registration Number</label>
                <input type="text" class="form-control" name="reg_num" id="reg_num" placeholder="" required>
            </div>
            <div class="mb-3">
                <label for="tierSel" class="form-label">Select Tier</label>
                <select class="form-select" id="tierSel" name="tierSel">
                    {% if tier_data: %}
                    {% for row in tier_data: %}
                    <option value="{{ row[0] }}">
                        {{ row[1] }} | Discount - {{ row[3] }}% | Fees - {{ row[2] }} MMK
                    </option>
                    {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="mb-3">
                <label for="startDate" class="form-label">Start Date</label>
                <input type="date" class="form-control" name="startDate" id="startDate" placeholder="" required>
            </div>
            <div class="mb-3">
                <label for="validUntil" class="form-label">Valid Until</label>
                <input type="date" class="form-control" name="validUntil" id="validUntil" placeholder="" required>
            </div>
            <div class="row">
                <div class="col-3 d-grid">
                    <input type="submit" class="btn btn-primary" value="Register">
                </div>
                <div class="col-3 d-grid">
                    <input type="reset" class="btn btn-warning" value="Reset">
                </div>
            </div>

        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        var status = ''
        $('#member_table').DataTable({
            "scrollY": "70vh",
            "scrollCollapse": true,
            "paging": false
        });
    });
</script>


{% endblock%}