{% extends "navbar.html" %}

{% block title %}
Car Parking System | View Membership
{% endblock %}

{% block content%}
<p class="h1">All Members</p>

<div class="mb-3">
    <table class="table" id="member_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Reg No.</th>
                <th>Membership Tier</th>
                <th>Start Date</th>
                <th>Valid Until</th>
                <th>Subscription</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if data: %}
            {% for row in data: %}
            <tr>
                <td class="align-middle">{{ row[0] }}</td>
                <td class="align-middle">{{ row[1] }}</td>
                <td class="align-middle">{{ row[2] }}</td>
                <td class="align-middle">{{ row[3] }}</td>
                <td class="align-middle">{{ row[4] }}</td>
                <td class="align-middle">{{ row[5] }}</td>
                <td class="align-middle">{{ row[6] }}</td>
                <td>
                    <div class="form-group">
                        <!-- <button type="button" class="btn btn-secondary">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button> -->
                        <a href="delete/member?m_id={{ row[0] }}" class="btn btn-outline-danger">Revoke</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#member_table').DataTable({
            "order": [[4, 'desc']],
            "scrollY": "70vh",
            "scrollCollapse": true,
            "paging": false
        });
    });
</script>


{% endblock%}