{% extends "navbar.html" %}

{% block title %}
Car Parking System | Category List
{% endblock %}

{% block content%}
<p class="h1">Category</p>

<div class="mb-3">
    <form class="form-group">
        <a href="/add-category" class="btn btn-primary"><i class="bi bi-plus"></i>Add New Category</a>
    </form>
    <table class="table" id="category_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Category</th>
                <th>Description</th>
                <th>Creation Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if data: %}
            {% for row in data: %}
            <tr>
                <td class="align-middle">{{ row[0] }}</td>
                <td class="align-middle">{{ row[1] }}</td>
                <td class="align-middle">{{ row[2] }}</td>
                <td class="align-middle">{{ row[3] }}</td>
                <td>
                    <div class="form-group">
                        <!-- <button type="button" class="btn btn-secondary">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button> -->
                        <a href="/edit/category?c_id={{ row[0] }}" class="btn btn-secondary">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a onclick="confirmation('{{ row[0] }}')" class="btn btn-danger">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

<script>

    function confirmation(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: `You want to delete '${id}'?`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#BB2D3B',
            cancelButtonColor: '#0D6EFD',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.get(`/delete/category?c_id=${id}`)
                Swal.fire({
                    title: 'Deleted!',
                    text: `Category with the id '${id}' has been deleted`,
                    icon: 'success',
                    confirmButtonColor: '#0D6EFD'
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.reload()
                    }
                })
            }
        })
    }

    $(document).ready(function () {
        $('#category_table').DataTable({
            "paging": true,
            "lengthChange": false
        });
    });
</script>


{% endblock%}