.center-vertical {
    margin: 0;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}

#dashboard>div.col>div.container {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    text-align: center;
}

.full-screen-height {
    height: 100vh;
}

.mb-auto {
    margin-bottom: auto !important;
}


.bg {
    background-color: aqua;
}

.bg1 {
    background-color: blueviolet;
}

body,
div.container-fluid>div.row>div.col-md-auto>div,
div.container-fluid>div.row>div.col {
    background-color: #EFFFFD !important;
}

/* div.card {
    background-color: #EFFEFF !important;
} */