.center-vertical {
    margin: 0;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}

.full-screen-height {
    height: 100vh;
}

.mb-auto {
    margin-bottom: auto !important;
}

.white-svg {
    filter: invert(99%) sepia(0%) saturate(4882%) hue-rotate(306deg) brightness(119%) contrast(100%);
}

.bg {
    background-color: aqua;
}

.bg1 {
    background-color: blueviolet;
}