.center-vertical {
    margin: 0;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}

.full-screen-height {
    height: 100vh;
}

.bg {
    background-color: aqua;
}

.bg1 {
    background-color: blueviolet;
}