{% extends "navbar.html" %}

{% block title%}
Car Parking System | Dashboard
{% endblock%}

{% block content %}
<p class="h1">Dashboard</p>
{% if data: %}
<div class="row mb-4" id="dashboard">
    <div class="col">
        <div class="container border rounded-1 shadow-sm">
            <p class="h5">Parked Vehicles</p>
            <p class="h3">{{ data["parked_vehicles"] }}</p>
        </div>
    </div>
    <div class="col">
        <div class="container border rounded-1 shadow-sm">
            <p class="h5">Over Parked Vehicles</p>
            <p class="h3">{{ data["over_parked"] }}</p>
        </div>
    </div>
    <div class="col">
        <div class="container border rounded-1 shadow-sm">
            <p class="h5">Vehicles Used</p>
            <p class="h3">{{ data["history"] }}</p>
        </div>
    </div>
    <div class="col">
        <div class="container border rounded-1 shadow-sm">
            <p class="h5">Categories</p>
            <p class="h3">{{ data["categories"] }}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="container border rounded-1 shadow-sm">
            Chart
        </div>
    </div>
    <div class="col">
        <div class="container border rounded-1 shadow-sm">
            Chart
        </div>
    </div>
</div>
{% endif %}
{% endblock %}