<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/bulma.min.css">
    <link rel="stylesheet" href="static/style.css">

    <title>Car Parking System | Login</title>
</head>

<body>
    <div class="container is-max-desktop" id="login_div">
        <div class="column is-two-fifths is-offset-one-quarter">
            <form class="box">
                <p class="title is-3">Car Parking System</p>
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="********">
                    </div>
                </div>

                <button class="button is-primary">Sign in</button>
            </form>
        </div>
    </div>
</body>

</html>