{% extends "navbar.html" %}

{% block title %}
Car Parking System | Parking History
{% endblock %}

{% block content%}
<p class="h1">Parking History</p>

<div class="mb-3">
    <table class="table" id="vehicle_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Reg No.</th>
                <th>Category</th>
                <th>Entry Time</th>
                <th>Exit Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if data: %}
            {% for row in data: %}
            <tr>
                <td class="align-middle">{{ row[0] }}</td>
                <td class="align-middle">{{ row[1] }}</td>
                <td class="align-middle">{{ row[2] }}</td>
                <td class="align-middle">{{ row[3] }}</td>
                <td class="align-middle">{{ row[4] }}</td>
                <td>
                    <a href="vehicle-info?v_id={{ row[0] }}" class="btn btn-outline-info">View Information</a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#vehicle_table').DataTable({
            "order": [[4, 'desc']],
            "paging": true,
            "lengthChange": false
        });
    });
</script>


{% endblock%}